@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

html,
body,
#app {
    @apply h-full;
}

body {
    @apply bg-background;
}

button,
.button {
    @apply flex items-center px-4 py-2 bg-primary text-white text-sm font-semibold rounded shadow;
}

.clickable {
    @apply select-none cursor-auto;
}

.tree {
    @apply ml-2;
}

.tree ul {
    @apply ml-6;
}

.tree .tree-item {
    @apply relative;
}

.tree .tree-item div {
    @apply flex items-center p-2;
    @apply text-sm font-semibold;
    @apply cursor-pointer select-none;
    @apply rounded-md transition;
}

.tree .tree-item::before {
    @apply absolute border-l-2 rounded-none;

    content: "";
    top: 4px;
    left: -10px;

    width: 10px;
    height: 15px;
}

.tree .tree-item::after {
    @apply absolute border-l-2 border-t-2 rounded-none;

    content: "";
    top: 17px;
    left: -10px;

    width: 10px;
    height: 98%;
}

.tree .tree-item:last-child::after, .tree > .tree-item:first-child::before {
    @apply hidden;
}

.tree > .tree-item:first-child::after {
    @apply rounded-tl-md;
}

.tree .tree-item:last-child:before {
    @apply border-b-2 rounded-bl-md;
}




